@import "styles/controls.css";
@import "styles/messages.css";
@import "styles/screen-list.css";
@import "styles/banners.css";
@import "styles/blueprints/blueprints.css";
@import "styles/action-buttons.css";
@import "styles/utilities.css";
@import "styles/social.css";
@import "styles/responsive.css";
@import "styles/modals.css";
@import "styles/miniatures.css";

:root {
    --primary-color: #c53736;
}
#container {
    position: absolute;
    top: 0;
    bottom: 0;
}

.hot-spot {
    height: 15px;
    width: 15px;
    background-color: var(--primary-color);
    border-radius: 15px;
}
.hot-spot span {
    background-color: var(--primary-color) !important;
}

.hot-spot span::after {
    cursor: pointer;
    border-color: var(--primary-color) transparent transparent transparent !important;
}
/* .pnlm-load-box {
    z-index: -999;
    opacity: 0;
} */
