#diningRoom {
    right: 270px;
    top: 108px;
}
#terrace {
    right: 211px;
    top: 163px;
}
#room {
    right: 186px;
    top: 102px;
}
#habPpal1 {
    right: 76px;
    top: 77px;
}
#habPpal2 {
    right: 18px;
    top: 58px;
}
#boyHab {
    right: 70px;
    top: 133px;
}
#girlHab {
    right: 109px;
    top: 132px;
}
