#HallDeAlcobas {
    left: 149.133px;
    top: 128.869px;
}
#SalaComedor {
    left: 54.4939px;
    top: 75.0677px;
}
#Estudio {
    left: 132.295px;
    top: 74.0881px;
}
#cocina {
    left: 50.8811px;
    top: 166.73px;
}
#AlcobaPrincipal {
    left: 242.18px;
    top: 171.853px;
}
#Alcoba2 {
    left: 225.363px;
    top: 81.2931px;
}
#Balcon {
    left: 147.582px;
    top: 25.0225px;
}
