.miniatures {
    position: absolute;
    right: 10px;
    top: 320px;
    width: 100px;
    z-index: 2;
    text-align: center;
}
.miniatures .images {
    height: 300px;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
}
.miniatures img {
    cursor: pointer;
    pointer-events: auto;
    margin: 10px 0;
}

.miniatures .images::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}
