@media only screen and (max-width: 600px) {
    .controls {
        display: none;
    }
    #banners {
        display: none;
    }
    #mobile-select-screens {
        display: block;
        background-color: #fdfdfd;
    }
    .action-buttons {
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
        justify-content: space-between;
    }
    #sh-button-container {
        display: none;
    }
    #hide-action-container {
        display: block;
    }
    .blueprints {
        left: 78px;
        width: 70%;
        bottom: 82px;
        top: unset;
    }
    .blueprints img {
        height: 170px;
    }
    #kitchen {
        right: 165px;
        top: 67px;
    }
    #auxiliaryOne {
        right: 229px;
        top: 128px;
    }
    #auxiliaryTwo {
        right: 182px;
        top: 131px;
    }
    #diningRoom {
        right: 108px;
        top: 57px;
    }
    #studyRoom {
        right: 50px;
        top: 93px;
    }
    #boyRoom {
        right: 168px;
        top: 72px;
    }
    #girlRoom {
        right: 139px;
        top: 67px;
    }
    #principalRoom {
        right: 168px;
        top: 134px;
    }
    #tvRoom {
        right: 73px;
        top: 98px;
    }
    #bbqTerrace {
        right: 234px;
        top: 143px;
    }
    #livingRoomTerrace {
        right: 36px;
        top: 90px;
    }
    .mobile-urbanization-image {
        display: block;
    }
}
